body {
  margin: auto;
  max-width: 960px;
}

h2 {
  margin: 0;
}

h1 {
  max-width: fit-content;
  margin: 0;
  position: relative;
  color: #ffffff;
  top: 425px;
  left: 125px;
}


header img, .content img {
  object-fit: contain;
  max-width: 500px;
  max-height: 400px;
}

/* Header */

header {
  background-color: #0891b2;
  padding: 60px 30px 90px 30px;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
}


.about_me {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.about_me .icons img {
  max-width: 1.6rem;
}

.about_me .icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}


/* Main */
main {
  margin: 50px 0;
}

main h2 {
  margin-left: 30px;
  padding-bottom: 40px;
}

.projects {
  margin: 1vh 0 ;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  justify-items:center;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
}


.project {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.project_info .top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.top .icons img {
  max-width: 1.2rem;
}

.project .project_img {
  width: 250px;
  height: 175px;
  background-color: #9e1c1c;
}

/* Footer */

footer {
	display: flex;
	flex-direction: column;
	background-color: #0891b2;
	color: #ffffff;
  margin: 40px 0;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 70px 30px 60px 30px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
}

.contacts {
  display: grid;
  grid-template: 1fr 1fr / 1fr 5fr;
}

.contacts img {
  max-width: 1.6rem;
}

.left-side p {
  margin: 5px 0 5px 0;
  line-height: 1.4;
}

.left-side .icons {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.left-side .icons img {
  max-width: 1.9rem;
  gap: 3vw;
}

/* ///////////////////// */
/* Tablet size breakpoint*/
/* ///////////////////// */

@media (max-width: 927px) {

  /* Header */

  h1 {
    max-width: fit-content;
    margin: 0;
    position: relative;
    color: #ffffff;
    top: 425px;
    left: 300px;
  }
  
  header img, .content img {
    object-fit: contain;
    max-width: 500px;
    max-height: 400px;
  }

  
  header {
    background-color: #0891b2;
    padding: 60px 30px 90px 30px;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_me {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 440px;
  }


  /* Main */
  main {
    margin: 50px 0;
  }

  main h2 {
    margin-left: 60px;
  }

  .projects {
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 20px;
  }


  .project {
    width: 300px;
  }

  .project_info .top {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .top .icons img {
    max-width: 1.7rem;
  }

  .project .project_img {
    width: 300px;
  }

  /* Footer */

  .contacts img {
    max-width: 1.6rem;
  }

  .left-side .icons {
    display: flex;
    justify-content: center;
    gap: 1vw;
  }
}


/* ///////////////////// */
/* Phone size breakpoint*/
/* ///////////////////// */

@media (max-width: 855px) {
  
  /* Main */

  main h2 {
    margin: 0;
    text-align: center;
  }

  .projects {
    margin: auto;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-row-gap: 40px;
  }


  .project {
    width: 300px;
  }

  .project_info .top {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .top .icons img {
    max-width: 1.7rem;
  }

  .project .project_img {
    width: 300px;
  }

  /* Footer */
  
  .content img {
    max-width: 350px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto;
  }
  
  .left-side {
    gap: 25px;
    max-width: 350px;
  }

  .left-side h2 {
    text-align: center;
  }
  
  .contacts {
    grid-template: 1fr 1fr / 1fr 8fr;
    align-items: center;
  }
  
  .contacts img {
    max-width: 1.3rem;
  }
  
}