body {
  margin: auto;
  max-width: 960px;
}

h2 {
  margin: 0;
}

header img,.content img {
  object-fit: contain;
  max-width: 500px;
}

/* Header */

.about_me .icons img {
  max-width: 1.6rem;
}


/* Main */

main h2 {
  margin-left: 30px;
}

.projects {
  margin: 1vh 0 ;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  justify-items:center;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
}


.project {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.project_info .top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.top .icons img {
  max-width: 1.2rem;
}

.project .project_img {
  width: 250px;
  height: 175px;
  background-color: #9e1c1c;
}



/* Footer */


footer {
	display: flex;
	flex-direction: column;
	background-color: #0891b2;
	color: #ffffff;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 4vh 0 2vh 0;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
}

.contacts {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  align-items: center;
}

.contacts img {
  max-width: 1.6rem;
}

.left-side p {
  margin: 5px 0 5px 0;
  line-height: 1.4;
}

.left-side .icons {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.left-side .icons img {
  max-width: 1.9rem;
  gap: 3vw;
}
